<!DOCTYPE html>
<html>
    <head>
        <!-- 3 required meta tags for bootstrap - must come first in head tag -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Simple Map</title>

        <!-- Latest bootstrap compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- customized css file -->
        <link rel="stylesheet" href="public/css/main.css">
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {{{body}}}



        <div id="map"></div>


        <script src="public/js/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOxhOC9pjODy1pcnKNzijSqHLncZNVagQ&libraries=geometry,places&callback=initMap"
        async defer></script>
            <!-- HL: May want to delete `async defer` because some of our helper functions
                     rely on the google api loading completely first -->
    </body>
</html>
