<div>

    <br>
    <h2>Game Menu</h2>
    <br>
    <hr id="hr-body">
    <a href="/gamesetup" class="btn btn-primary btn-lg" role="button">Game Setup</a>
    <br>
    <br>
    <h2>All Set?</h2>
    <a href="/playgame" class="btn btn-primary btn-lg" role="button">GO!</a>

</div>
