<div>
    <br>
    <h2>Game Setup</h2>
    <br>
    <hr id="hr-body">
    <h1>Number of Players:<span id="playerNum">1</span></h1>
    <br>
    <button type="button" class="btn btn-danger btn-md" id="decreasePlayer">-</button>
    <button type="button" class="btn btn-danger btn-md" id="increasePlayer">+</button>
    <script type="text/javascript">
        var players
        $("#increasePlayer").click(function () {
            players = parseInt($('#playerNum').text());
            $('#playerNum').text(players+1)
        });
        $("#decreasePlayer").click(function () {
            players = parseInt($('#playerNum').text())
            $('#playerNum').text(players-1)
        })
    </script>

    <h1>Choose Your Task</h1>
    <button type="button" class="btn btn-info btn-md" id="foodTour">Food Tour</button>
    <button type="button" class="btn btn-info btn-md" id="walkTour">Walk Tour</button>
    <script type="text/javascript">
        var chosenHunt = ''
            $('#foodTour').click(function(){
                chosenHunt = 'Food Tour'
            $('#foodTour').css("background-color", "red")
            $('#walkTour').css("background-color", "")
            });
            $('#walkTour').click(function(){
                chosenHunt = 'Walk Tour'
            $('#walkTour').css("background-color", "red")
            $('#foodTour').css("background-color", "")
            });
    </script>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href ='/gamemenu' id="returnGame" class="btn btn-primary btn-lg" role="button">Back to Game Setup</a>
    <script type="text/javascript">
            $('#returnGame').click(function(){
                if (chosenHunt!='') {
                        console.log('this is the hunt' + chosenHunt)
                $.post('/chosenhunt',{hunt:chosenHunt})
                }
            })
    </script>
    <br>
    <br>
</div>
