<div>
    <br>
    <h2>Game Setup</h2>
    <br>
    <hr id="hr-body">
    <script type="text/javascript">
        $(document).ready(function(){
            $('.gameSelectionMenu').hide()
        });
    </script>

    <button type="button" class="btn btn-danger btn-md" id="createGame">Create Game</button>
    <button type="button" class="btn btn-danger btn-md" id="configureGame">Configure Games</button>
    <button type="button" class="btn btn-danger btn-md" id="joinGame">Join Game</button>
    <button type="button" class="btn btn-danger btn-md" id="startGame">View Games</button>
    <script type="text/javascript">
        var chosenGameSelection = ''
        $("#createGame").click(function () {
            chosenGameSelection = 'Create Game';
            $('#createGame').css("background-color", "green");
            $('#configureGame').css("background-color", "");
            $('#joinGame').css("background-color", "");
            $('#startGame').css("background-color", "");
            $('#createGameMenu').show();
            $('#configureGameMenu').hide();
            $('#joinGameMenu').hide();
            $('#startGameMenu').hide();
        });
        $("#configureGame").click(function () {
            chosenGameSelection = 'Configure Game';
            $('#createGame').css("background-color", "");
            $('#configureGame').css("background-color", "green");
            $('#joinGame').css("background-color", "");
            $('#startGame').css("background-color", "");
            $('#createGameMenu').hide();
            $('#configureGameMenu').show();
            $('#joinGameMenu').hide();
            $('#startGameMenu').hide();
        });
        $("#joinGame").click(function () {
            chosenGameSelection = 'Join Game';
            $('#createGame').css("background-color", "");
            $('#configureGame').css("background-color", "");
            $('#joinGame').css("background-color", "green");
            $('#startGame').css("background-color", "");
            $('#createGameMenu').hide();
            $('#configureGameMenu').hide();
            $('#joinGameMenu').show();
            $('#startGameMenu').hide();
        });
        $("#startGame").click(function () {
            chosenGameSelection = 'Play Game';
            $('#createGame').css("background-color", "");
            $('#configureGame').css("background-color", "");
            $('#joinGame').css("background-color", "");
            $('#startGame').css("background-color", "green");
            $('#createGameMenu').hide();
            $('#configureGameMenu').hide();
            $('#joinGameMenu').hide();
            $('#startGameMenu').show();
        });
    </script>
</div>

<div id="createGameMenu" class="gameSelectionMenu">
    <h3>Choose a Predefined Itinerary</h3>
    <button type="button" class="btn btn-info btn-md" id="foodTour">Food Tour Hunt</button>
    <button type="button" class="btn btn-info btn-md" id="walkTour">Walk Tour Hunt</button>
    <span id="createGameWarning" style="color:red;"></span>
    <br><br>
    <form action="javascript:createGame();" method="post">
        <h3>Give Your Game a Unique Name</h3>
        <input type="text" id="gameName" placeholder="e.g. Hong Kong Hunt" value="">
        <br><br>
        <button type="submit" class="btn btn-warning">Create new game</button>
    </form>
    <script type="text/javascript">
        var chosenHunt = 0;
        $('#foodTour').click(function(){
            chosenHunt = 1;
            $('#foodTour').css("background-color", "red");
            $('#walkTour').css("background-color", "");
        });
        $('#walkTour').click(function(){
            chosenHunt = 2;
            $('#walkTour').css("background-color", "red");
            $('#foodTour').css("background-color", "");
        });

        function createGame(){
            var gameName = $('#gameName').val();
            if (chosenHunt != 0) {
                $.post('/creategame',{hunt:chosenHunt, gamename:gameName})
                .done(function(response){
                    $('#createGameMenu').append(
                        '<h4 id="gameCreatedInfo">' +
                            'Your new game ID is ' + response.gameplayId +
                            ' - share this ID to allow others to join. ' +
                            'Click on "Configure Game" to see and configure your created games.' +
                        '</h4>'
                    );
                });
            } else {
                $('#createGameWarning').html('Please choose an itinerary.');
            }
        }
    </script>
    <br>
    <br>
</div>

<div id="configureGameMenu" class="gameSelectionMenu">
    <script type="text/javascript">
        $('#configureGame').click(function(){
            $.get('/configureGame', function () {
            })
            .done(function(unstartedgame){
                $('#configureGameMenu').html('')
                $('#configureGameMenu').append(function () {
                    var namesUnstartedGame = '<br><br><ol>'
                    unstartedgame.forEach(function (obj) {
                        namesUnstartedGame += '<li style="font-weight:bold;">'+obj.name+' (game id: '+obj.id+')</li>' +
                            '<i>Players joined:</i> '+obj.playersNames+'<br>' +
                            '<button type="button" class="btn btn-info btn-xs ActivateGame" id="ActivateGame-'+obj.name+'">' +
                                'Activate Game' +
                            '</button>&nbsp;' +
                            '<button type="button" class="btn btn-info btn-xs EndGame" id="EndGame-'+obj.name+'">' +
                                'End Game' +
                            '</button><br><br>';
                    });
                    namesUnstartedGame += '</ol>';
                    return namesUnstartedGame;
                });
                playStatus();
            })
        })
    </script>
</div>


<div class="">
    <script type="text/javascript">
    function playStatus() {
        var gameStatus = '';
        var gameName = '';
        $('.ActivateGame').click(function(){
            gameName = this.id.split('-')[1];
            gameStatus = 'ongoing';
            $.post('/playstatus',{playStatus:gameStatus, gamename:gameName});
        });
        $('.EndGame').click(function(){
            gameName = this.id.split('-')[1];
            gameStatus = 'ended';
            $.post('/playstatus',{playStatus:gameStatus, gamename:gameName});
        });
    }
    </script>
</div>

<div id="joinGameMenu" class="gameSelectionMenu">
    <form action="javascript:joinGame();" method="post">
        <h3>Enter Game ID to Join</h3>
        <input type="text" id="joinGameVal" placeholder="Enter game ID, e.g. 1">
    </form>
    <script type="text/javascript">
        function joinGame(){
            var joingame = $('#joinGameVal').val();
            $.post('/joingame', {joingame: joingame})
            .done(function(response){
                $('#joinGameMenu').append('<h5>'+response.alert+'</h5>');
            });
        }
    </script>
</div>

<div id="startGameMenu" class="gameSelectionMenu">
    <script type="text/javascript">
        function goToMap(gameplayId, playerId, huntId){
            $.get('/playgame?gameplayId=' + gameplayId + '&playerId=' + playerId + '&huntId=' + huntId)
            .done(function(response){
                window.location = response.redirect;
            });
        }
        $('#startGame').click(function(){
            $.get('/viewgames', function () {
            })
            .done(function(game){
                $('#startGameMenu').html('')
                $('#startGameMenu').append(function () {
                    var gameStart = '<br><br><ol>';
                    game.forEach(function (obj) {
                        if (obj.playStatus === 'ongoing') {
                            gameStart += '<li><b>'+obj.name+'</b></li>'+
                                '<a href="javascript: goToMap('+obj.gameplayId+','+obj.playerId+','+obj.huntId+');"'+
                                'class="btn btn-info btn-xs startOngoingGame" id="start-'+obj.name+'">'+
                                'Enter Game</a><br><br>';
                        } else if (obj.playStatus === 'ended') {
                            gameStart += '<li><b>'+obj.name+'</b></li>'+
                                '<a href="javascript: window.location = \'/gameend?gameplayId='+obj.gameplayId+'&playerId='+obj.playerId+'&huntId='+obj.huntId+'\';"'+
                                'class="btn btn-success btn-xs" id="start-'+obj.name+'">'+
                                'Game Ended - See Final Scores</a><br><br>';
                        } else {
                            gameStart += '<li><b>'+obj.name+'</b></li>'+
                                '<a href="" class="btn btn-default btn-xs disabled" id="ActivateGame-'+obj.name+'">'+
                                'Not Open Yet</a><br><br>';
                        }
                    })
                    gameStart += '</ol>';
                    return gameStart;
                })
                // play()
            })
        })
    </script>
</div>


<div>
    <br>
    <hr id="hr-body">
    <a href ="/gamemenu" id="returnGame" class="btn btn-primary btn-lg" role="button">Back to Game Menu</a>

<!-- this section is for adding number of players when "team" feature is added -->
<!-- <h1>Number of Players:<span id="playerNum">1</span></h1>
<br>
<button type="button" class="btn btn-danger btn-md" id="decreasePlayer">-</button>
<button type="button" class="btn btn-danger btn-md" id="increasePlayer">+</button>
<script type="text/javascript">
    var players
    $("#increasePlayer").click(function () {
        players = parseInt($('#playerNum').text());
        $('#playerNum').text(players+1)
    });
    $("#decreasePlayer").click(function () {
        players = parseInt($('#playerNum').text())
        $('#playerNum').text(players-1)
    })
</script> -->

</div>
