<div>
    <br>
    <h2>Game Setup</h2>
    <br>
    <hr id="hr-body">
    <form class="" action="index.html" method="post">
        <input type="text" name="" placeholder="Team Name" value="">
        <br>
        <input type="number" name="" placeholder="number of players" value="">
        <br>
        <input type="number" name="" placeholder="Duration of game (in hours)" value="">
        <br>
        <input type="time" name="" placeholder="Start Time" value="">
        <br>
        <input type="time" name="" placeholder="End Time" value="">
    </form>
    <br>
    <br>
    <a href='/gamemenu' acti class="btn btn-primary btn-lg" role="button">Back to Game Setup</a>
</div>
