<div>
    <br>
    <h2>Game Setup</h2>
    <br>
    <hr id="hr-body">
    <script type="text/javascript">
        $(document).ready(function(){
            $('.gameSelectionMenu').hide()
        });
    </script>

    <button type="button" class="btn btn-danger btn-md" id="createGame">Create Game</button>
    <button type="button" class="btn btn-danger btn-md" id="configureGame">Configure Game</button>
    <button type="button" class="btn btn-danger btn-md" id="joinGame">Join Game</button>
    <button type="button" class="btn btn-danger btn-md" id="startGame">Start Game</button>
    <script type="text/javascript">
        var chosenGameSelction = ''
        $("#createGame").click(function () {
            chosenGameSelction = 'Create Game'
            $('#createGame').css("background-color", "green")
            $('#configureGame').css("background-color", "")
            $('#joinGame').css("background-color", "")
            $('#startGame').css("background-color", "")
            $('#createGameMenu').show()
            $('#configureGameMenu').hide()
            $('#joinGameMenu').hide()
            $('#startGameMenu').hide()
        });
        $("#configureGame").click(function () {
            chosenGameSelction = 'Configure Game'
            $('#createGame').css("background-color", "")
            $('#configureGame').css("background-color", "green")
            $('#joinGame').css("background-color", "")
            $('#startGame').css("background-color", "")
            $('#createGameMenu').hide()
            $('#configureGameMenu').show()
            $('#joinGameMenu').hide()
            $('#startGameMenu').hide()
        });
        $("#joinGame").click(function () {
            chosenGameSelction = 'Join Game'
            $('#createGame').css("background-color", "")
            $('#configureGame').css("background-color", "")
            $('#joinGame').css("background-color", "green")
            $('#startGame').css("background-color", "")
            $('#createGameMenu').hide()
            $('#configureGameMenu').hide()
            $('#joinGameMenu').show()
            $('#startGameMenu').hide()
        });
        $("#startGame").click(function () {
            chosenGameSelction = 'Play Game'
            $('#createGame').css("background-color", "")
            $('#configureGame').css("background-color", "")
            $('#joinGame').css("background-color", "")
            $('#startGame').css("background-color", "green")
            $('#createGameMenu').hide()
            $('#configureGameMenu').hide()
            $('#joinGameMenu').hide()
            $('#startGameMenu').show()
        });
    </script>
</div>

<div id="createGameMenu" class="gameSelectionMenu">
    <form class="" action="index.html" method="post">
        <h3>Create Game Name</h3>
        <input type="text" id="gameName" placeholder="e.g. Hong Kong Hunt" value="">
    </form>
    <br>
    <br>
    <h3>Choose Your Hunt</h3>
    <button type="button" class="btn btn-info btn-md" id="foodTour">Food Tour Hunt</button>
    <button type="button" class="btn btn-info btn-md" id="walkTour">Walk Tour Hunt</button>
    <script type="text/javascript">
        var chosenHunt = 0
            $('#foodTour').click(function(){
                chosenHunt = 1
            $('#foodTour').css("background-color", "red")
            $('#walkTour').css("background-color", "")
            });
            $('#walkTour').click(function(){
                chosenHunt = 2
            $('#walkTour').css("background-color", "red")
            $('#foodTour').css("background-color", "")
            });
    </script>
    <br>
    <br>
</div>

<div id="configureGameMenu" class="gameSelectionMenu">
    <script type="text/javascript">
        $('#configureGame').click(function(){
            $.get('/configureGame', function () {
            })
            .done(function(unstartedgame){
                $('#configureGameMenu').html('')
                $('#configureGameMenu').append(function () {
                    var namesUnstartedGame = '<br><br><ol>'
                    unstartedgame.forEach(function (name) {
                        namesUnstartedGame += '<li>'+name+'</li><button type="button" class="btn btn-info btn-xs ActivateGame" id="ActivateGame-'+name+'">Activate Game</button><button type="button" class="btn btn-info btn-xs EndGame" id="EndGame-'+name+'">End Game</button>'
                    })
                    namesUnstartedGame += '</ol>'
                    return namesUnstartedGame;
                })
                playStatus()
            })
        })
    </script>
</div>


<div class="">
    <script type="text/javascript">
    function playStatus() {
        var gameStatus = ''
        var gameName = ''
        $('.ActivateGame').click(function(){
            gameName = this.id.split('-')[1]
            gameStatus = 'ongoing'
            $.post('/playstatus',{playStatus:gameStatus, gamename:gameName})
        })
        $('.EndGame').click(function(){
            gameName = this.id.split('-')[1]
            gameStatus = 'ended'
            $.post('/playstatus',{playStatus:gameStatus, gamename:gameName})
        })
    }
    </script>
</div>

<div id="joinGameMenu" class="gameSelectionMenu">
    <form class="" action="" method="post">
        <h3>Enter Game ID to Join</h3>
        <input type="text" id="joinGameVal" placeholder="Enter game ID, e.g. 1">
    </form>
</div>

<div id="startGameMenu" class="gameSelectionMenu">
    <script type="text/javascript">
        $('#startGame').click(function(){
            $.get('/startgame', function () {
            })
            .done(function(game){
                $('#startGameMenu').html('')
                $('#startGameMenu').append(function () {
                    var gameStart = '<br><br><ol>';
                    game.forEach(function (obj) {
                        if (obj.playStatus === 'ongoing') {
                            gameStart += '<li>'+obj.name+'</li><button type="button" class="btn btn-info btn-xs startOngoingGame" id="start-'+obj.name+'">Start Game</button>';
                        } else {
                            gameStart += '<li>'+obj.name+'</li><button type="button" class="btn btn-link btn-xs disabled" id="ActivateGame-'+obj.name+'">Game Not Open</button>';
                        }
                    })
                    gameStart += '</ol>';
                    return gameStart;
                })
                // play()
            })
        })
    </script>
</div>

<div class="">
    <script type="text/javascript">
        $("#startGameMenu").on('click', '.startOngoingGame',function(){
            window.location.replace('/playgame')
        })
    </script>
</div>

<div class="">
    <br>
    <h2>All Set?</h2>
    <a class="btn btn-primary btn-lg" id="playgame" role="button">Start !</a>
    <script type="text/javascript">
            $('#playgame').click(function(){
                var gameName = $('#gameName').val()
                var joinGameVal = $('#joinGameVal').val()
                if (chosenHunt != 0) {
                    console.log("chosenHunt"+chosenHunt)
                    $.post('/chosenhunt',{hunt:chosenHunt, gamename:gameName})
                    .done(function(response){
                        window.location = response.redirect
                    })
                }
                else if ( joinGameVal != 0 ) {
                    $.post('/joingame',{joingame:joinGameVal})
                    .done(function(response){
                        window.location = response.redirect
                    })
                }
            })
    </script>
    <br>
    <br>
    <br>
    <hr id="hr-body">
    <a href ='/gamemenu' id="returnGame" class="btn btn-primary btn-lg" role="button">Back to Game Setup</a>

<!-- this section is for adding number of players when "team" feature is added -->
<!-- <h1>Number of Players:<span id="playerNum">1</span></h1>
<br>
<button type="button" class="btn btn-danger btn-md" id="decreasePlayer">-</button>
<button type="button" class="btn btn-danger btn-md" id="increasePlayer">+</button>
<script type="text/javascript">
    var players
    $("#increasePlayer").click(function () {
        players = parseInt($('#playerNum').text());
        $('#playerNum').text(players+1)
    });
    $("#decreasePlayer").click(function () {
        players = parseInt($('#playerNum').text())
        $('#playerNum').text(players-1)
    })
</script> -->

</div>
