<!-- NavBar -->
<span id="menuSpan"style="font-size:70px;cursor:pointer" onclick="openNav()">&#9776;</span>
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="/gamesetup">Game Settings</a>
        <a href="#">Sound Effects</a>
        <a href="#">About</a>
        <a href="#">Exit</a>
    </div>
</div>

<!-- Google Map -->
<div id="map"></div>
<div id="distance"><span id="distanceText"></span></div>
<div id="zoomAndCenter">
    <a href="javascript:map.fitBounds(getZoomedOutBounds(playerMarker.getPosition(), destinationPosition));">
        <span class="glyphicon glyphicon-zoom-out"></span>
    </a>
    &nbsp;
    <a href="javascript:map.setCenter(playerMarker.getPosition());">
        <span class="glyphicon glyphicon-screenshot"></span>
    </a>
</div>

<!-- Challenges Screen -->
<div id="challenge">
    <div class="challenge-content">
      <form action="/mission">
          <p></p>
          <input type="text" name="answer" id="answer" value="">
          <br><br>
          <a href="javascript:checkAnswer();" class="btn btn-default">Submit</a>
          <br><br>
          <a href="javascript:giveUp();" class="btn btn-default">Give up</a>
      </form>
    </div>
    <br>
    <p>You have <span id="tries">3</span> tries left</p>
</div>
<div id="score"><h1 style="margin-top:25%;"></h1></div>

<!-- Javascript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5VPdkr79bv-_2TnnwoFXhZgHF2ztZycg&libraries=geometry,places"></script>
    <!-- PL API key = AIzaSyAOxhOC9pjODy1pcnKNzijSqHLncZNVagQ -->
    <!-- HL API key = AIzaSyA5VPdkr79bv-_2TnnwoFXhZgHF2ztZycg -->
<script src="public/js/mapLayout.js"></script>
<script src="public/js/zoomOut.js"></script>
<script src="public/js/arrow.js"></script>
<script src="public/js/index.js"></script>
<script>
    // {{#hunt}}{{#if huntId}}huntId = {{huntId}};{{else}}{{/if}}{{/hunt}}
    initMap();
</script>
