<div>
    <ul>
        {{#posts}}
        <br>
            <p>Post #: {{id}}</p>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
        {{/posts}}
        <br>
        <br>
        <br>
        <br>
    </ul>

    <button onclick="location.href='./blog'" id="return-button" type="button" name="button">Return Home</button>
</div>
