/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

a[href^="http://maps.google.com/maps"]{display: none !important}
a[href^="https://maps.google.com/maps"]{display: none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}
.gmnoprint div {
    background: none !important;
}

/*CSS for the menu in the map bar*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.85;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#distance {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255,255,255,0.65);
    border-radius: 0.2em;
    padding: 5px 8px;
}

#zoomAndCenter {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.glyphicon-zoom-out, .glyphicon-screenshot {
    opacity: 0.85;
    font-size: 1.8em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 2em;
    padding: 5px 5px;
    margin-right: 3px;
}

#menuSpan {
    position:fixed;
    z-index: 1;
    display:block;
}

/* CSS for the challenges window */
#challenge {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.85;
}

#challenge-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#score {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    color: green;
    transition: 0.5s;
    text-align: center;
}

#gameend {
    margin: 35px 50px;
    overflow-y: scroll;
    font-size: 1.5em;
    font-weight: bold;
}

.badge {
    font-size: 1.2em;
    background-color: #4f95b7;
}

.list-group-item-info {
    color: #4f95b7;
}

.list-group-item-winner {
    background-color: #359fd4;
    color: #d2f0ff;
    border: 1px solid #359fd4;
}

.badge-winner {
    background-color: #d2f0ff;
    color: #359fd4;
}
/*Color for the challenge*/
form p {
  color: #001f3f;
  font-size: 18px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
